<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojodachi</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
        <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
        <script src="/js/script.js"></script>
    </head>
    <body>
        <p id="stats">Fullness: <span id="fullness">-</span> | Happiness: <span id="happiness">-</span> | Meals: <span id="meals">-</span> | Energy: <span id="energy">-</span></p>
        <div id="dachi">
            <img id="image" src="/images/Normal.jpg">
            <h5 id="message">Welcome to Dojodachi!</h5>
        </div><br/>
        <button type="button" value="play">Play</button>
        <button type="button" value="feed">Feed</button>
        <button type="button" value="work">Work</button>
        <button type="button" value="sleep">Sleep</button>
        <button type="submit" name="reset" value="Restart" style="display: none">Restart</button>
    </body>
</html>